.spinner-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  background: #f3f7fa;

  .spinner {
    .inner {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      animation: sphere-spin 3s linear infinite;
    }

    &.sphere {
      width: 60px;
      height: 60px;
      transform: perspective(1000px) rotateX(-24deg) rotateY(20deg) rotateZ(30deg);
      transform-style: preserve-3d;

      .disc {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 5px double #2196f3;

        &:nth-child(1) {
          animation: rotate 7s linear infinite;
        }

        &:nth-child(2) {
          animation: rotate-disc-2 7s linear infinite;
        }

        &:nth-child(3) {
          animation: rotate-disc-3 7s linear infinite;
        }
      }
    }

    &.loaded {
      animation: loaded 0.2s ease-in-out;
      animation-fill-mode: forwards;
      transition: 0.2s ease-in-out;
      position: absolute;

      &:hover {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      }
    }
  }

  .logo {
    position: relative;
    left: -4px;
    top: -4px;
    &:hover {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }

    &.is-loaded {
      animation: is-loaded 1s ease-in-out;
      animation-fill-mode: forwards;
      transition: 2s ease-in-out;
    }

    &.not-loaded {
      display: none;
      position: absolute;
    }
  }
}

@keyframes sphere-spin {
  0% {
    transform: rotateX(360deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(360deg);
  }
}

@keyframes rotate-disc-2 {
  from {
    transform: rotateX(90deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(90deg) rotateZ(360deg);
  }
}
@keyframes rotate-disc-3 {
  from {
    transform: rotateY(90deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(90deg) rotateZ(360deg);
  }
}

@keyframes loaded {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes is-loaded {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0;
    transform: translateY(100%);
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0);
  }
  40% {
    width: 10px;
    height: 10px;
    opacity: 0;
    transform: translateY(100%);
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0);
  }
  80% {
    width: 60px;
    height: 60px;
    opacity: 1;
    border-radius: 40px;
    transform: translateY(0%);
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    width: 60px;
    height: 60px;
    opacity: 1;
    border-radius: 30px;
    transform: translateY(0%);
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.4);
  }
}
